<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog post</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <main>
        <header th:insert="forum/fragments.html :: navbar"></header>
	    <h1>All Posts</h1>
        <div class="posts" th:each="post :${posts}">
            <div class="post">
                <a th:href="@{/forum/post/{id}(id = ${post.id})}">
                    <h2><span th:text="${post.title}"></span></h2>
                </a>
                <h3 class="italic">Post by <span class="userId" th:text="${post.author.name}">John Doe</span></h1>
                <h3 class="italic">Updated at: <span th:text="${#calendars.format(post.updatedAt, 'dd/MMM/yyyy HH:mm z')}"></span></h3>
                <p th:text="${post.content}">This is a post.</p>
                <p>Likes: <span th:text="${post.likesCount}"></span></p>
                <form method="post" action="#" th:action="@{/forum/post/{id}/like(id = ${post.id})}">
                    <input type="submit" value="👍">
                </form>
                <a th:href="@{/forum/post/{id}(id = ${post.id})}">
                    <h2><span th:text="${post.commentsCount}"></span> Comments</h1>
                </a>
                <form action="#" th:action="@{/forum/post/{id}/comment(id = ${post.id})}" method="post">
                    <input name="content" type="text">
                    <input type="submit" value="Add Comment">
                </form>
            </div>
        </div>
    </main>
    <script>
        const symbol = document.querySelector(".name").innerText.charAt(0).toUpperCase();
        document.querySelector(".avatar-text").innerHTML = symbol;
    </script>
</body>
</html>