<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar">
            <ul>
                <li>
                    <i class="fa-solid fa-globe fa-2xl" style="color: #ffffff;"></i>
                </li>
                <li>
                    <a th:href="@{/forum/post/all}">Home</a>
                </li>
                <li>
                    <a th:href="@{/forum/post/all}">All Posts</a>
                </li>
                <li>
                    <a th:href="@{/forum/post/form}">New Post</a>
                </li>
                <li>
                    <a th:href="@{/forum/profile}">Profile</a>
                </li>
                <li>
                    <form action="#" method="get" th:action="@{/forum/search}">
                        <input type="text" class="search-bar" placeholder="Search.." name="search">
                    </form>
                </li>
                <li>
                    <a th:href="@{/forum/notifications}"><i class="fa-regular fa-bell fa-xl"></i></a>
                </li>
                <li>
                    <div class="user-details-wrapper">
                        <div class="user-avatar">
                            <span class="avatar-text">u</span>
                        </div>
                        <div class="user-details">
                            <div th:if="${isLoggedIn}">
                                <span class="name" th:text="${username}">user</span>
                                <form action="#" th:action="@{/logout}" method="post">
                                    <button class="btn-auth" type="submit">logout</button>
                                </form>
                            </div>
                            <div th:unless="${isLoggedIn}">
                                <span class="name">anonymous</span>
                                <form action="#" th:action="@{/login}" method="get">
                                    <button class="btn-auth" type="submit">login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
          </nav>
    </div>
</body>
</html>