<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog post</title>
	<script
		src="https://kit.fontawesome.com/70f63a8d9c.js"
		crossorigin="anonymous">
	</script>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<main th:object="${post}">
		<header th:insert="forum/fragments.html :: navbar"></header>
		<h1><span th:text="${post.title}"></span></h1>
		<h3 class="italic">Post by <span class="userId" th:text="*{author.name}">John Doe</span></h3>
		<h5 class="italic">Updated <span class="createdAt" th:attr="data-datetime=${post.createdAt}"></span></h5>
		<p th:text="*{content}">This is a post.</p>
		<form method="post" action="#" th:action="@{/forum/post/{id}/like(id = ${post.id})}">
			<button class="transparent-btn" type="submit">
				<i class="fa-solid fa-heart" style="color: #e01b24;"></i>
			</button>
			<span th:text="${post.likesCount}">0</span>
		</form>
		<h4>Comments:</h4>
		<form action="#" th:action="@{/forum/post/{id}/comment(id = ${post.id})}" method="post">
			<input name="content" type="text">
			<input type="submit" value="Add Comment">
		</form>
		<ul th:each="comment : ${comments}">
			<li th:class="${comment.level}">
				<div class = "border">
					<p class="userId italic" th:text="${comment.user.name}"></p>
					<p class="content" th:text="${comment.content}"></p>
				</div>
				<h5 onclick="toggleForm(this)">Reply ➡</h5>
				<form hidden="true" action="#" th:action="@{/forum/post/{id}/reply/{parentId}(id = ${post.id}, parentId = ${comment.id})}" method="post">
					<input name="content" type="text">
					<input type="submit" value="Submit">
				</form>
			</li>
		</ul>
		<form action="#" th:action="@{/forum/post/{id}(id = ${post.id})}" method="get">
			<input id="limit" type="text" name="limit" hidden="true">
			<button onclick="incrementCount()" class="transparent-btn">
				Load More Comments...
			</button>
		</form>

	</main>

	<script>
		function toggleForm(obj){
			obj.nextElementSibling.hidden = !obj.nextElementSibling.hidden
		}
		for(let i = 0; i < 100; i++){
			comments = document.getElementsByClassName(i);
			for(let comment of comments){
				comment.style.paddingLeft = 50*i + "px";
			}
		}

        const symbol = document.querySelector(".name").innerText.charAt(0).toUpperCase();
        document.querySelector(".avatar-text").innerHTML = symbol;

		function incrementCount(){
            let obj = document.getElementById("limit");
            console.log(obj);
            obj.setAttribute("value", document.getElementsByClassName("content").length + 5);
        }
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
      // Initialize timeago.js
      const timeElements = document.querySelectorAll(".createdAt");
      timeElements.forEach((el) => {
        const datetime = el.getAttribute("data-datetime");
        el.innerHTML = moment(datetime).fromNow();
      });
    </script>
</body>
</html>