<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog post</title>
<style>
	* {
		list-style: none;
	}
	.border {
		border-left: 2px solid black;
		padding-left: 10px;
	}
</style>
</head>
<body th:object="${post}">
	<h1>Post by <span th:text="*{author.name}">John Doe</span></h1>
	<p th:text="*{content}">This is a post.</p>
	<p>Likes: <span th:text="${likeCount}">0</span></p>
	<form method="post" action="#" th:action="@{/forum/post/{id}/like(id = ${post.id})}">
		<input type="submit" value="Like!">
	</form>
	<h3>Comments:</h3>
	<form action="#" th:action="@{/forum/post/{id}/comment(id = ${post.id})}" method="post">
		<input name="content" type="text">
		<input type="submit" value="Add Comment">
	</form>
	<ul th:each="comment : ${comments}">
		<li th:class="${comment.level}">
			<div class = "border">
				<p th:text="${comment.user.name}"></p>
				<p th:text="${comment.content}"></p>
			</div>
			<h5 onclick="toggleForm(this)">Reply ➡</h5>
			<form hidden="true" action="#" th:action="@{/forum/post/{id}/reply/{parentId}(id = ${post.id}, parentId = ${comment.id})}" method="post">
				<input name="content" type="text">
				<input type="submit" value="Submit">
			</form>
		</li>
	</ul>

	<script>
		function toggleForm(obj){
			obj.nextSibling.nextSibling.hidden = !obj.nextSibling.nextSibling.hidden
		}
		for(let i = 0; i < 100; i++){
			comments = document.getElementsByClassName(i);
			for(let comment of comments){
				comment.style.paddingLeft = 50*i + "px";
			}
		}
	</script>
</body>
</html>